---
layout: default
title: Booking
---
<div class="color-row slashed-color-background full-width-video">
  <div class="row">
    <div class="large-12 columns">
      <div class="flex-video vimeo widescreen">
      <iframe src="//player.vimeo.com/video/68271597" width="100%" min-height="400px" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
    </div>
  </div>
  <div class="booking-bug-button">
    <a href="/booking-form"><img src="/img/get-involved/book-adrian-now-button.png"/></a>
  </div>
</div>

<div class="image-row booking slashed-image-background">
  <div class="row">
    <div class="large-6 columns">
      
    </div>
  </div>
</div>

{% include newsletter-signup.html %}

<div class="color-row slashed-color-background sign-up-row">
  <div class="row">
    <div class="large-6 columns">
      <h1>Upcoming Events</h1>
    </div>
    <div class="large-6 columns">
      <h1>Sermon Audio</h1>
      {% include audio-player.html %}
    </div>
  </div>
</div>

<div class="booking-row">
  <div class="row">
    <div class="large-12 columns">
      <h3><a href="/booking/booking-form">Book Adrian to Speak at Your Event</a></h3>
    </div>
  </div>
</div>

<div class="color-row slashed-color-background sign-up-row bottom-row">
  <div class="row">
    <div class="large-12 columns">
      <h1>Event Availability & Ministry Passions</h1>
      Adrian is available for the following types of events.
    </div>
  </div>
  <div class="row">
    <div class="large-6 columns">
      <ul>
      
      </ul>
    </div>
    <div class="large-6 columns">
      <ul>
      
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="large-4 columns">
      <img src="/img/booking/Adrian-portrait.jpg"/>
    </div>
    <div class="large-8 columns">
      <a href="{% include url.html url="https://www.dropbox.com/s/5jpab155z83dnh1/Adrian-Despres-Promo.zip" download="y" %}"><h1>Click Here to Download a Press Kit for Adrian</h1></a>
    </div>
  </div>
</div>