---
layout: default
title: Booking
---
<div class="color-row slashed-color-background full-width-video">
  <div class="row">
    <div class="large-12 columns">
      <div class="flex-video vimeo widescreen">
      <iframe src="//www.youtube.com/embed/3F3M_AkduXI" width="100%" min-height="400px" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
    </div>
  </div>
  <div class="booking-bug-button">
    <a href="/booking-form"><img src="/img/booking/book-adrian-now-button.png"/></a>
  </div>
</div>

<div class="image-row booking slashed-image-background">
  <div class="row">
    <div class="large-6 columns">
      <p>Adrian Despres became a Christian while playing football for Furman University (Greenville, SC). As a respected student, athlete, and peer, Adrian began sharing his faith with others as he used his God-given public speaking abilities. This was the beginning of Adrian’s Itinerant speaking ministry.</p>
      
      <p>In 1990, after graduating from Seminary at Columbia International University, Adrian joined the Itinerant Ministry Staff of Kingdom Building Ministries with whom he continues to serve today. In addition, Adrian serves as the Chaplain for the University of South Carolina's football team. His ministry reaches thousands of students and young adults each year and has brought thousands into a relationship with Christ. Adrian’s passion to see lost souls saved and Christians called into a life of laboring for God continues to propel his ministry.</p>

      <p>Adrian lives in Columbia, South Carolina, with his wife, Lisa, and their children, Rachel, Branson, Kaitlyn, and Benjamin.</p>
    </div>
  </div>
</div>

{% include newsletter-signup.html %}

<div class="color-row slashed-color-background sign-up-row">
  <div class="row">
    <div class="large-6 columns">
      <h1>Upcoming Events</h1>
    </div>
    <div class="large-6 columns">
      <h1>Sermon Audio</h1>
      {% include audio-player.html %}
    </div>
  </div>
</div>

<div class="booking-row">
  <div class="row">
    <div class="large-12 columns">
      <h3><a href="/booking/booking-form">Book Adrian to Speak at Your Event</a></h3>
    </div>
  </div>
</div>

<div class="color-row slashed-color-background messaging-row">
  <div class="row">
    <div class="large-7 columns">
      <h2>Event Availability</h2>
      <p>Adrian's ministry focus is College, Senior High, Young Adult and Adult groups where he can challenge Christians to share the gospel and develop a deeper love for God. God also uses him to bring pre-Christians to repentance.
      </p>
      
      <div class="large-5 columns">
      	<ul>
      		<li>Senior High Camps                  </li>
          <li>Athletic Events                    </li>
          <li>Festivals                          </li>
          <li>Crusades                           </li>
          <li>Multi-Church Events                </li>
          <li>Youth Conferences                  </li>
          <li>Junior High Camps                  </li>
          <li>Pastors Conferences                 </li>
      	</ul>
      </div>
      
      <div class="large-7 columns">
      	<ul>
      		<li>Laborer Training Conferences        </li>
          <li>Leader Training Conferences         </li>
          <li>High School Spiritual Emphasis Weeks</li>
          <li>Sunday Morning Church Services      </li>
          <li>Mission Conferences                 </li>
          <li>Church Spiritual Emphasis Weeks     </li>
          <li>Family Camps                        </li>
          <li>University Spiritual Emphasis Weeks</li>
      	</ul>
      </div>
    </div>
    
    <div class="large-5 columns">
    	<h2>Ministry Passions</h2>
    	  <ul>
    	    <li>Leading people to Christ who do not know they are lost (an evangelist to the church)  </li>
          <li>Leading college and youth to a totally surrendered life                               </li>
          <li>Spreading awareness of evangelism and missions                                        </li>
          <li>Rebuking people of their sinful ways, especially those ways people have gotten used to</li>
  	</div>
  </div>  
</div>

<div class="dark-row">
	<div class="row">
		<div class="large-12 columns">
  		<ul class="large-block-grid-4 message-grid">
  			<li><div><h2>lorem ipsum dolor</h1><div class="content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam itaque maxime modi nihil non dolorem explicabo magni fugiat provident maiores laborum nemo ratione necessitatibus perspiciatis sequi. Velit optio totam itaque.</div></div></li>
  			<li><div><h2>lorem ipsum dolor</h1><div class="content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam itaque maxime modi nihil non dolorem explicabo magni fugiat provident maiores laborum nemo ratione necessitatibus perspiciatis sequi. Velit optio totam itaque.</div></div></li>
  			<li><div><h2>lorem ipsum dolor</h1><div class="content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam itaque maxime modi nihil non dolorem explicabo magni fugiat provident maiores laborum nemo ratione necessitatibus perspiciatis sequi. Velit optio totam itaque.</div></div></li>
  			<li><div><h2>lorem ipsum dolor</h1><div class="content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam itaque maxime modi nihil non dolorem explicabo magni fugiat provident maiores laborum nemo ratione necessitatibus perspiciatis sequi. Velit optio totam itaque.</div></div></li>
  			<li><div><h2>lorem ipsum dolor</h1><div class="content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam itaque maxime modi nihil non dolorem explicabo magni fugiat provident maiores laborum nemo ratione necessitatibus perspiciatis sequi. Velit optio totam itaque.</div></div></li>
  			<li><div><h2>lorem ipsum dolor</h1><div class="content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam itaque maxime modi nihil non dolorem explicabo magni fugiat provident maiores laborum nemo ratione necessitatibus perspiciatis sequi. Velit optio totam itaque.</div></div></li>
  			<li><div><h2>lorem ipsum dolor</h1><div class="content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam itaque maxime modi nihil non dolorem explicabo magni fugiat provident maiores laborum nemo ratione necessitatibus perspiciatis sequi. Velit optio totam itaque.</div></div></li>
  			<li><div><h2>lorem ipsum dolor</h1><div class="content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam itaque maxime modi nihil non dolorem explicabo magni fugiat provident maiores laborum nemo ratione necessitatibus perspiciatis sequi. Velit optio totam itaque.</div></div></li>
  		</ul>
		</div>
	</div>
</div>

<div class="color-row slashed-color-background press-kit-row bottom-row">
  <div class="row">
		    <div class="large-4 columns">
		      <img src="/img/booking/ad-portrait.jpg"/>
		    </div>
		    <div class="large-8 columns">
		      <h1><a href="{% include url.html url='https://www.dropbox.com/s/5jpab155z83dnh1/Adrian-Despres-Promo.zip' download='y' %}">Click Here to Download a Press Kit for Adrian</a></h1>
		    </div>
		  </div>
</div>