---
layout: home
Title: Adrian Despres
---
<div class="image-row homepage-header">
  <div class=""></div>
</div>

<div class="white-row divider-arrow">
  <div class="row divider-centered">
    <div class="large-12 large-centered columns">
      <h1>Just Heard Adrian Speak?</h1>
      <h3><a href="/follow-up">Click Here for Follow-Up Resources</a></h3>
    </div>
  </div>
</div>

<div class="color-row slashed-color-background">
  <div class="row after-arrow">
      <div class="large-6 columns">
        <h1>Video Description</h1>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sed dictum ante. Suspendisse ullamcorper ipsum eu erat rutrum mattis. Curabitur vel lorem adipiscing, blandit orci in, luctus massa. Maecenas vitae dui vel turpis malesuada pretium posuere varius diam. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sed dictum ante. Suspendisse ullamcorper ipsum eu erat rutrum mattis. Curabitur vel lorem adipiscing, blandit orci in, luctus massa. Maecenas vitae dui vel turpis malesuada pretium posuere varius diam.
      </div>
      <div class="large-6 columns">
        <div class="flex-video vimeo widescreen">
        <iframe src="//www.youtube.com/embed/3F3M_AkduXI" width="100%" min-height="400px" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
      </div>
  </div>
</div>

{% include newsletter-signup.html %}

<div class="image-row upcoming-events slashed-image-background">
  <div class="row">
    <div class="large-6 columns">
      <h1>Upcoming Events</h1>
    </div>
  </div>
</div>

<div class="white-row bottom-row-home">
  <div class="row">
    <div class="large-3 columns player-divider-left-top-solid">
      {% include audio-player.html %}
    </div>
    <div class="large-9 columns light">
      <h1>Latest Event Report</h1>
      <h4>9/20/2013 Church Services, Anywhere, USA</h4>
      Rig Veda courage of our questions citizens of distant epochs, dream of the reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
      <a href="/get-involved">Click here to connect with Adrian..</a>
    </div>
  </div>
</div>
