<div class="footer-row">
      <div class="row">
        <div class="large-4 columns">
          <h1>Contact</h1>
          <ul>
            <li><a href="mailto:adrespres@kbm.org">EMAIL: ADESPRES@KBM.ORG</a></li>
            <li>14485 E EVANS AVE,<br> AURORA, CO 80014</li>
          </ul>
        </div>
        <div class="large-4 columns">
          <h1>Links</h1>
          <ul>
            <li><a href="/booking/booking-form">BOOK ADRIAN TO SPEAK AT YOUR EVENT</a></li>
            <li><a href="">HEAR ABOUT PAST EVENTS</a></li>
            <li><a href="/get-involved">CONNECT WITH ADRIAN</a></li>
          </ul>
        </div>
        <div class="large-4 columns">
          <a href="/donate"><h1>Donate</h1></a>
          <img style="border: none;" src="/img/ecfa-seal.png"/>
        </div>
      </div>
    </div>
 <script src="/js/vendor/foundation/jquery.js"></script>
    <script src="/js/vendor/foundation/foundation.min.js"></script>
  </body>
</html>