<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/css/site.css" />
    <script src="/js/vendor/foundation/modernizr.js"></script>
</head>
    <nav class="top-bar" data-topbar>
      <ul class="title-area">
        <li class="name">
          <h1><a href="/">Adrian Despres</a></h1>
        </li>
        <li class="toggle-topbar menu-icon"><a href="/">Menu</a></li>
      </ul>
      <div class="fixed contain-to-grid sticky">
        <section class="top-bar-section">
          <!-- Right Nav Section -->
          <ul class="right">
            <li class="active"><a href="/booking">Booking</a></li>
            <li><a href="/get-involved">Get Involved</a></li>
            <li><a href="/follow-up">Follow-Up</a></li>
          </ul>
          <!-- Left Nav Section -->
          <ul class="left">
            <li><a href="/">Adrian Despres</a></li>
          </ul>
        </section>
      </div>
    </nav>
  <body class="slash-left-right">
    <div class="solid-slash-left-right"></div>
