<div class="newsletter-signup">
  <div class="row">
    <div class="large-12 columns">
      <h3><a href="#openModal">Become A Prayer Partner</a></h3>
      <div id="openModal" class="modalDialog">
        <div>
          <a href="#close" title="Close" class="close">X</a>
          <h2>BECOME A PRAYER PARTNER</h2>
        		<iframe style="width:100%; height:600px;" src="https://interland3.donorperfect.net/weblink/weblink.aspx?name=kbm&id=35"></iframe>
<!--             <h3><a href="/newsletter-signup">Want to stay connected with Adrian? Sign up to be prayer partner!</a></h3> -->
        </div>
      </div>
  </div>
  </div>
</div>