.booking {
  &:after {
    background-image: url('/img/booking/ad-bio.jpg');
    background-position: right top;
    }
  padding-top: 50px;
  padding-bottom: 50px;
  color: white;
}

.booking-bug-button {
  position: absolute;
  right: 9%;
  bottom: -9%;
  max-height: 200px;
  max-width: 200px;
  img {
    border: none;
  }
}

.message-grid {
  color: black;
  text-align: center;
  padding-top: 20px;
  position: relative;
  &>li>div {
      background-color: white;
      &:hover .content {
        visibility: visible;
        opacity: 1;
      }
  }
  .content {
    visibility: hidden;
    position: absolute;
    bottom: -340px;
    height: 340px;
    width: 100%;
    left: 0;
    background-color: rgba(255,255,255,0.8);
    z-index: 1;
    opacity: 0;
    @include transition (all .3s ease-in-out);
  }
}

.messaging-row {
  h2 {
    color: white;
    font-weight: bold;
    text-transform: capitalize;
    text-align: center;
  }
}

.press-kit-row {
  a {
    color: white;
    @include transition ();
  }
  a:hover {
  color:lighten($primary-color, 5%);
  @include transition ();
  }
}

.booking-row {
  a {
    color: white;
    @include transition ();
  }
  a:hover {
  color:darken($primary-color, 5%);
  @include transition ();
  }
}