.booking-form {
  &:after {
    background-image: url('/img/forms/booking/booking-form.jpg');
    background-position: center top;
}
  padding-top: 220px;
  padding-bottom: 400px;
  h4 {
  color: white;
  text-align: justify;
  font-weight: 300;
  }
}

.missions-form {
  &:after {
    background-image: url('/img/forms/missions/missions-form.jpg');
    background-position: center bottom;
}
  padding-top: 220px;
  padding-bottom: 420px;
  h4 {
  color: white;
  text-align: justify;
  font-weight: 300;
  }
}

.form {
  width: 100%;
  height: 2000px;
  background-color: white;
  border: '$secondary-color';
  position: relative;
  top: -400px;
}