.missions {
  &:after {
  background-image: url('/img/get-involved/background.jpg');
  }
  padding-top: 100px;
  padding-bottom: 50px;
  color: white;
  img {
    border: none;
    margin: auto;
    display: block;
  }
}
